<!DOCTYPE html>
<html lang="en" ng-app="exampleApp9">
<head>
  <meta charset="UTF-8">
  <script src="../bower_components/angular/angular.js"></script>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <title>Directives</title>
  <script type="text/ng-template" id="scopeTemplate">
    <div class="panel-body">
      <p><input type="text" ng-model="data.name"></p>
      <p><input type="text" ng-model="city"></p>
      <p><input type="text" ng-model="country"></p>
    </div>
  </script>
  <script>
    angular.module('exampleApp9',[])
        .directive('scopeDemo',function(){
          return{
            template: function(){
              return angular.element(document.querySelector('#scopeTemplate')).html();
            },
            scope: true
          }
        }).controller('defaultCtrl',function($scope){
          $scope.data = { name: "Adam"};
          $scope.city = "London";
    });
  </script>
</head>
<body ng-controller="defaultCtrl">
<div class="panel panel-default">
  <div class="panel-body" scope-demo></div>
  <div class="panel-body" scope-demo></div>
</div>
</body>
</html>